/*=============00.ResetCSS=============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

a,
img,
span,
::before,
::after {
  display: inline-block;
}

img {
  max-width: 100%;
}

a {
  -webkit-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
  transition: all 0.3 ease;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  color: #555;
  line-height: 1.285;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.jpg");
}

:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.col-9 {
  width: 75%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.row {
  font-size: 0;
  margin-left: -15px;
  margin-right: -15px;
}

.row > [class*="col-"],
.row[class*="column-"] > .item {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}

.row[class*="column-"] > .item {
  margin-top: 30px;
}

.row.va-m > [class*="col-"] {
  vertical-align: middle;
}

.column-4 > .item {
  width: 25%;
}

.column-4 > .item:nth-child(-n + 4) {
  margin-top: 0;
}

/* =============== hearder ================ */

#header {
  width: 300px;
  margin: 50px auto;
  font-size: 26px;
}

/* =============== Todo List Container div ========== */
#todo-list-container {
  margin: 0 30px;
}

/* =============== Todo List Div =================== */
#todo-list-main {
  display: flex;
  width: 2000px;
  overflow: auto;
}

/* =============== Todo Column div ================= */
.todo-column {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 5px;
  height: 100%;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.column-header p {
  display: inline-block;
  padding: 0 10px;
}

.column-header button {
  height: 30px;
  width: 50px;
}

.todo-list li {
  height: 50px;
  margin-bottom: 10px;
  background-color: dodgerblue;
  padding: 10px;
  color: aliceblue;
}

.todo-list p {
  display: inline-block;
}

.todo-list button {
  height: 30px;
  width: 50px;
}

/* ============== Column Action div ================ */
.column-action input {
  display: block;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  text-indent: 10px;
}

.column-action button {
  height: 30px;
  width: 100px;
  margin-right: 10px;
}

#create-new-todo {
  width: 100%;
}

/* =============== Create New Column div =========== */

.add-column {
  width: 300px;
  height: 100%;
  margin-right: 20px;
  padding: 10px;
  display: inline-block;
  background-color: aliceblue;
  border-radius: 5px;
}

.input-new-todo-column input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  text-indent: 10px;
}

#create-new-column-btn {
  height: 40px;
  width: 120px;
  margin-right: 10px;
}

#close-new-column-btn {
  height: 40px;
  width: 120px;
  margin-right: 10px;
}

#create-new-column {
  width: 100%;
  height: 50px;
}

#hidden-li {
  padding: 0;
  height: 10px;
  margin-bottom: 0;
  background-color: aliceblue;
}
